<div class="container landing">    
    <div class="row">
        <div class="clock"></div>
        <div class="col-sm-12">

            <div class="row">
                <h1>NexTime</h1>
                <h3>The greatest app ever!</h3>
            </div>
            <div class="userContainer">
                <a href="/sign-in"><button type="submit" class="btn btn-success">Sign In</button></a>
            </div>
        </div>
    </div>