<div class="container landing">  

    <div class="row landing-content">
        <div class="logo-landing">
            <div class="clock"></div>
            <h1 class="logo-text"><span class="nex">Nex</span>Time</h1>
        </div>

        <h3>The future of the to-do.</h3>

        <a href="/sign-up"><button type="submit" class="btn btn-success landing-btn">Create An Account</button></a>

        <a href="/sign-in"><button type="submit" class="btn btn-success landing-btn">Sign In</button></a>

        <h6 class="learn-more">New to NexTime? Learn more <a src="" data-toggle="modal" data-target="#learnModal">here</a>.</h6>

    </div>

</div>

<!-- Learn more modal -->
<div class="modal fade" id="learnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About NexTime</h4>
        <p id="missing-data" style="color: red;"></p>
      </div>

      <div class="modal-body">
        <p>NexTime is the future of the traditional to-do list. It allows you to make your own to-do task list with a twist. NexTime takes all of your tasks, and it notifies you of places that you can complete your tasks while on the move! It tracks your movements and provides you with live updates as you progress through the day. Our task list is very interactive, providing you with multiple fields to detail your daily tasks. It is the perfect tool for anyone that is into organization and getting the job done.</p>
      </div>
    </div>
  </div>
</div>