<div class="container landing">  

    <div class="row landing-content">
        <div class="logo">
            <div class="clock"></div>
            <h1 class="logo-text"><span class="nex">Nex</span>Time</h1>
        </div>

        <h3>The greatest app ever!</h3>

        <a href="/sign-up"><button type="submit" class="btn btn-success landing-btn">Create An Account</button></a>
        
        <a href="/sign-in"><button type="submit" class="btn btn-success landing-btn">Sign In</button></a>

    </div>

</div>