<div class="boxindex">
    <form id="sign-in-form">
        <h2 class="form-title">Login</h2>
        <div class="form-group">
            <input type="text" class="form-control animated" id="username-sign-in" placeholder="Username">
            <input type="password" class="form-control animated" id="password-sign-in" placeholder="Password">
            <input type="submit" class="btn btn-primary btn-lg btn-block submit" id= "submit-sign-in"></input>
        </div>
        <div class="back"><a href="/">Back</a></div>
    </form>
</div>
