<div class="row">
    <div class="col-sm-12">
        <div class="boxindex">
            <form id="addItem">
                <h4>Enter Your Username</h4>
                <div class="form-group">
                    <input type="text" class="form-control" id="username-sign-in">
                    <button type="submit" class="btn btn-primary btn-lg btn-block submit" id= "submit-sign-in">Submit</button>
                </div>
            </form>
            <div class="back"><a href="/">Back</a></div>
        </div>
    </div>
</div>