<div class="row">
    <div class="col-sm-12">
        <div class="boxindex">
            <form id="sign-in-form">
                <h4>Create An Account</h4>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control animated" id="first-name-sign-up">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control animated" id="last-name-sign-up">
                    <label for="username">Username</label>
                    <input type="text" class="form-control animated" id="username-sign-up">
                    <label for="password">Password</label>
                    <input type="password" class="form-control animated" id="password-sign-up">
                    <button type="submit" class="btn btn-primary btn-lg btn-block submit" id= "submit-sign-up">Submit</button>
                </div>
            </form>
            <div class="back"><a href="/">Back</a></div>
        </div>
    </div>
</div>