<div class="container landing">
    
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <h1>NexTime</h1>
                <h3>The greatest app ever!</h3>
            </div>
            <div class="container">
                <div class="category-div">
                    <div class="category-item">
                        <div class="category-icon"><!-- category icon, in img folder--></div>
                        <div class="category-title"><!-- category name--></div>
                        <div class="category-task-number"><!-- this was on the UI, optional--></div>
                    </div>
                </div>
                <div class="list-items-div">
                    <ul>
                        {{#each tasks}}
                        <li>{{this.task}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>