body {
    background-color: #D8D8D8;
    color: 000000;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 1%;
    color: #000000;
}

h2 {
    color: #000000;
}

.current-tasks {
    background-color: #F8D300;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

#userName{
    border-bottom: solid 2px #000000;
}

.container {
    
}


.list-group-item:first-child {
    border-radius: 10px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin: 15px 30px;
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    border-radius: 10px;
}

.landing {
    padding: 25%;
}

.userContainer {
    text-align: center;
    padding: 2%;
}

.btn-success {
    border-radius: 50px;
}

.input-group {
    width: 100%;
}

a {
    color: black;
    font-size: 20px;
/*    padding: 25px;*/
}

.boxindex {
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
}

form {
    padding: 4% 5%;
    background-color: rgba(114, 114, 114, 0.11);
    width: 60%;
    margin: 0 auto;
}

.boxindex{
    border: 0;
}

.form-control {
    height: 45px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #FFFFFF;
    background-color: #727272;
    border: 1px solid #979797;
    border-radius: 4px;
}

#parameters2 {
    background-color: blue;
    color: white;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    padding-left: 15px;
    margin-top: 20px;
}

.specificItem {
    position: relative;
}

.btn {
    padding: 0;
 }

.btn-danger {
/*    position: absolute;
    right: 10px;*/
    float: right;
    padding: 2px;
    margin: 0 5px;
}

.btn-edit {
    color: #ffffff;
    background-color: #95a5a6;
    border-color: #95a5a6;
/*    position: absolute;
    right: 40px;*/
    float: right;
    padding: 2px;
    margin: 0 5px;
}
    
.btn-check{
    float: right;
    padding: 2px;
    margin: 0 5px;
}

.icon {
    border: 0;
    background-color: #ffffff;
    float: left;
}

.list-group {
    margin-bottom: 100px;
}

.close-x {
    width: 100%;
    text-align: right;
    padding: 0;
}

.submit {
    background-color: #18bc9c;
    border: 0;
    color: #000000;
}

.back {
    text-align: center;
}

.btn-default{
    display: block;
    width: 100%;
}

.btn-delete-ind {
    display: block;
    width: 100%;
    padding: 2px;
    margin: 0 5px;
    color: #ffffff;
    background-color: #e74c3c;
}

/*HANDLEBARS STUFF!*/
.category-div{
    width: 40%;
    float: left;
/*    padding: 5%;*/
    margin: 5%;
    background-color: #ffffff;
    height: 85vh;
}

.list-items-div{
    width: 40%;
    float: left;
    background-color: #ffffff;
/*    padding: 5%;*/
    margin: 5%;
    -webkit-box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);
    position: relative;
    height: 85vh;
}

.category-item{
    clear: both;
    height: 100px;
    margin: 30px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);
}

.category-icon {
    width: 100px;
    height: 100px;
    background-color: red;
    float: left;
    padding: 40px;
    background: rgba(171,191,199,1);
    background: -webkit-linear-gradient(rgba(171,191,199,1) 0%, rgba(1,138,201,1) 100%);


}

.category-title {
    margin-left: 100px;
}

h3 {
    text-align: center;
    margin: 0;
}

.category-task-number{
    
}

h4 {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    line-height: 80px;

}

.add-btn {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 10px;
    background-color: #18bc9c;
    border: #979797 1px solid;
    text-align: center;
}

.category-header {
    height: 100px;
    -webkit-box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 32px -9px rgba(0,0,0,0.75);

}

.category-body {
    padding: 0 5%;
}











